//variables are declare with the color names and color values
$orange: #ff7f00;
$blue: #0000ff;
$purple: #80007e;
$green: #d8da3d;

//It is used to decrease the code and inhance reusability of the code
@mixin textimp {
    color: $purple;
    
}

body {
    background-color: $green;
    margin-top: 0px;
    padding-top: 0px;
}
// Both the divs right and left are inside this container display flex will make both the divs in same line
.container {
    display: flex;
    gap: 20px;
}



p,
h1 {
    @include textimp(); // property of textimp which is define in mixin will be applied in h1 tag
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
//Horizontal line
hr {
    border: 1px dotted #80007e; // shorthand property of border
    margin: 40px 0px 20px 0px; //shorthand property of margin
}
.left-title {
    padding-top: 25px;
    width: 15%;
}

.left-title {
    p {
        @include textimp();
        background-color: white;
        padding: 2px;
        margin: 10px;
    }
    // Odd number elements have border right color orange
    p:nth-child(2n + 1) {
        border-right: 14px solid $orange;
    }
    //Even number of elements have border right color blue
    p:nth-child(2n) {
        border-right: 14px solid $blue;
    }
}

.right-content {
    width: 85%;
}

.right-content {
    .right-d1 {
        border: 2px dashed;
        padding: 5px;
        margin: 10px 0px 10px 0px;
        @include textimp();
        color: black;
        margin-right: 100px
    }
    .right-d2 {
        @extend .right-d1; //Property of d1 is used in d2 like padding property and margin property as well as color
        border: 2px dashed $orange;
        text-align: right;
        font-style: italic;
    }
    .right-d3 {
        @extend .right-d1;
        border: 2px dotted $blue;
        text-align: center;
        font-weight: 550;
        
    }
    p:nth-child(9) {
        margin-top: 30px;
    }
}

// Here is the animation effect on the div elements of right side
@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.right-d1:hover {
    animation: bounce 2s ease infinite; // shorthend property of animation
}
.right-d2:hover {
    animation: bounce 2s ease infinite;
}
.right-d3:hover {
    animation: bounce 2s ease infinite;
}
